/* ---------- GERAL -----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial;
}

body {
  height: 3000px;
}

a {
  text-decoration: none;
  color: white;
}

/* ---------- PÁGINA INICIAL -----------*/

.home-page {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 751px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagens/background_1.jpg);
  background-size: cover;
  color: white; 
}

.home-page, .head, .head-sections, .contato, .contato-right-div, .social-icons-container, .home-main-text-container, .home-buttons-container{
  display: flex;
  align-items: center;
}

.header {
  width: 1100px;
  margin: 0 auto;
}

.contato {
  padding-top: 10px;
  font-size: 13px;
  font-weight: 400;
}

.contato, .contato-right-div {
  z-index: 2; 
  margin-bottom: 8px
}

.head, .head-sections, .contato, .contato-right-div {
  justify-content: space-between;
}

.contato-span {
  color: rgba(255, 255, 255, 0.6);;
}

.social-icons-container {
  width: 110px;
  justify-content: space-evenly;
}

.social-icons {
  height: 12px;
}

.head {
  background-color: rgba(0,0,0,0.5);
  width: 1100px;
  height: 80px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.head, .head-sections {
  z-index: 2; 
}

.logo {
  height: 100px;
  width: 100px;
}

.head-sections {
  width: 580px;
}

.head-sections a {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
}

a.home-button {
  color: #e52b34;
  font-weight: 400;
}

.home-main-text-container {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.home-main-text-container h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 6px 10px;
}

.home-main-text-container h2 {
  font-family: 'Dancing Script', cursive;
  line-height: 1;
  font-size: 10vw;
  margin-bottom: 40px;
  font-weight: 400;
}

.home-main-text-container div {
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 17px;
  font-weight: 700;
  color: #e52b34;
  margin-bottom: 50px;
}

.home-buttons-container {
  justify-content: space-between;
  width: 35px;
  position: absolute;
  bottom: 125px;
  z-index: 2;
}

.home-buttons {
  height: 14px;
  width: 14px;
  border: 1px solid #4d4d4d;
  border-radius: 7px;
}

@media (min-width:999px){
  .home-page{
    height: 965px;
  }
}